html {
    height: 100%;
}
body {
    margin: 0px;
    height: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
header {
    background-color: #333;
    height: 5%;
}
aside {
    float: left;
    width: 20%;
}
#titleDiv {
    text-align: center;
    margin: auto;
}
#title {
    margin: 0px;
    padding-top: 5px;
}
#map {
    height: 95%;
    color: black;
    width: 80%;
    margin-left: 20%;
}
#filterDiv {
    margin-top: 10px;
}
#filter {
    width: 70%;
    position: relative;
    left: 2px;
}
#filterB {
    width: 25%;
    background-color: #4286f4;
    background: linear-gradient(#4286f4, #336cc6);
    color: white;
    border: none;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    position: relative;
    right: 2px;
}
#asidePad {
    padding: 3px;
}
#menuButton {
    float: left;
    position: relative;
    top: 4px;
    left: 4px;
    height: 40px;
    width: 50px;
    background-color: #333;
    color: white;
    border: None;
}
#menuButtonImg {
    height: 30px;
    width: 40px;
}